<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1jQ57eZnMfKi8AVjn2xbQ7uNUIOQr6po</string>
	<key>GCM_SENDER_ID</key>
	<string>271945593270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LoginSample</string>
	<key>PROJECT_ID</key>
	<string>loginsample-5c20f</string>
	<key>STORAGE_BUCKET</key>
	<string>loginsample-5c20f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271945593270:ios:3f88ae5cd2da38ec2d1117</string>
</dict>
</plist>